name: Build & Push Flutter Web to gh-pages

on:
  push:
    branches:
      - main  # deploy every time main is updated

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter web
        run: flutter build web --release --base-href="/smart-agri-iot/"

      - name: Deploy to gh-pages branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git --work-tree build/web add --all
          git commit -m "Deploy to gh-pages" || echo "No changes to commit"
          git push origin HEAD:gh-pages --force
